<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Registro de Pedido de Pizzas</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="pizzasForm" (ngSubmit)="agregarPizza()">
            <div class="form-group">
              <label for="nombre">Nombre completo:</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" formControlName="direccion" required>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="text" class="form-control" id="telefono" formControlName="telefono" required>
            </div>
            <div class="form-group">
              <label for="fechaCompra">Fecha de compra:</label>
              <input type="date" class="form-control" id="fechaCompra" formControlName="fechaCompra" required>
            </div>
            <div class="form-group">
              <label for="tamanho">Tamaño:</label>
              <select class="form-control" id="tamanho" formControlName="tamanho" required>
                <option value="" disabled selected>Seleccione un tamaño</option>
                <option value="Pequeña">Pequeña</option>
                <option value="Mediana">Mediana</option>
                <option value="Grande">Grande</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ingredientes:</label>
              <div class="form-check" *ngFor="let ingrediente of ingredientes">
                <input type="checkbox" class="form-check-input" [id]="ingrediente.nombre" [formControlName]="ingrediente.nombre">
                <label class="form-check-label" [for]="ingrediente.nombre">{{ ingrediente.nombre }}</label>
              </div>
            </div>
            <div class="form-group">
              <label for="numeroPizzas">Número de pizzas:</label>
              <input type="number" class="form-control" id="numeroPizzas" formControlName="numeroPizzas" required>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Pizza</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Detalle del Pedido</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Tamaño</th>
                <th>Ingredientes</th>
                <th>Número de Pizzas</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pizza of detallePedido">
                <td>{{cliente}}</td>
                <td>{{ pizza.tamanho }}</td>
                <td>{{ getIngredientes(pizza) }}</td>
                <td>{{ pizza.cantidad }}</td>
                <td>{{ calcularSubtotal(pizza) }}</td>
                <td>
                    <button class="btn btn-danger" (click)="quitarPizza(pizza)">Quitar</button>
                </td>
            </tr>
