<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Pizzeria BMZ</h5>
    </div>

    <div class="card-body mt-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="pizzaForm">
        <div class="row">
          <div class="col-md-6">
            <h4>Datos del cliente</h4>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input class="form-control" type="text" formControlName="nombre" id="nombre">
            </div>

            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input class="form-control" type="text" formControlName="direccion" id="direccion">
            </div>

            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input class="form-control" type="text" formControlName="telefono" id="telefono">
            </div>

            <div class="form-group">
              <label for="fecha">Fecha</label>
              <input class="form-control" type="date" formControlName="fecha" id="fecha">
            </div>
          </div>

          <div class="col-md-6">
            <h4>Datos de la pizza</h4>
            <div class="form-group">
              <label for="tamano">Tamaño</label>
              <select class="form-control" formControlName="tamano" id="tamano">
                <option value="Chica">Chica $40</option>
                <option value="Mediana">Mediana $80</option>
                <option value="Grande">Grande $120</option>
              </select>
            </div>

            <h5>Ingredientes</h5>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="jamon" id="jamon">
                <label class="form-check-label" for="jamon">Jamón $10</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="pina" id="pina">
                <label class="form-check-label" for="pina">Piña $10</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="champinones" id="champinones">
                <label class="form-check-label" for="champinones">Champiñones $10</label>
              </div>
            </div>

            <div class="form-group">
              <label for="cantidad">Número de pizzas</label>
              <input class="form-control" type="number" formControlName="cantidad" id="cantidad">
            </div>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">Agregar</button>
            </div>
          </div>
        </div>
      </form>

<div class="row mt-4">
  <div class="col-md-12">
    <h4>Resumen de la orden</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tamaño</th>
            <th>Ingredientes</th>
            <th>Número de pizzas</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pizza of pizzaDetalles">
            <td>{{ pizza.tamano }}</td>
            <td>{{ pizza.ingredientes.join(', ') }}</td>
            <td>{{ pizza.cantidad }}</td>
            <td>{{ pizza.subtotal }}</td>
            <td>
              <button class="btn btn-danger" (click)="eliminarPizza(pizza)">Quitar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
      <div class="col-md-6 mt-5">
  <div *ngIf="mostrarConfirmacion">
    <h4>Confirmación de pedido</h4>
    <ng-container *ngFor="let pizza of pizzaDetalles; let isFirst = first">
      <p *ngIf="isFirst">Cliente: {{ pizza.nombre }}</p>
    </ng-container>
    <ng-container *ngFor="let pizza of pizzaDetalles; let isFirst = first">
      <p *ngIf="isFirst">Domicilio: {{ pizza.direccion }}</p>
    </ng-container>
    <ng-container *ngFor="let pizza of pizzaDetalles; let isFirst = first">
      <p *ngIf="isFirst">Telefono: {{ pizza.telefono }}</p>
    </ng-container>
    <ng-container *ngFor="let pizza of pizzaDetalles; let isFirst = first">
      <p *ngIf="isFirst">Fecha: {{ pizza.fecha }}</p>
    </ng-container>
    <p>El costo total del pedido es: $ {{ calcularTotal() }}</p>
  </div>
</div>
</table>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary mx-2" (click)="finalizarCompra()">Terminar</button>
  </div>
</div>
    </div>
  </div>
</div>

