
<app-menu></app-menu>
<div class="container">
<div class="row">
  
<!-- <h1>
  IDGS901
</h1>
<p>Hola Mundo</p>
<div>
   {{title}}
</div>
<hr>
<div>El doble de 3 es: {{calcular(3)}}</div>
<hr>
<div>
  <b>Matricula: {{alumno.matricula}}</b>
</div>
<div><b>Nombre: </b>{{alumno.nombre|uppercase}}</div>
<div><b>Edad: </b>{{alumno.edad}}</div>
<div><b>Fecha:</b> {{alumno.fechadenacimiento|date}}</div>
<div><b>Pago: </b>{{alumno.pago|currency}}</div>


<hr>
<br>
<app-utl></app-utl>
<app-ievn></app-ievn>
 -->
<!-- <app-iric></app-iric>  -->
<!-- <app-suma></app-suma>

<app-operas-bas></app-operas-bas> 
<app-alumno-reactive></app-alumno-reactive>-->
<router-outlet></router-outlet>
</div>
</div>