
  /* Estilos para colores personalizados */
.bg-orange {
  background-color: orange;
}

.bg-violet {
  background-color: violet;
}

.bg-yellow {
  background-color: yellow;
}

.bg-brown {
  background-color: burlywood;
}

.bg-gold {
  background-color: gold;
}

.bg-silver {
  background-color: silver;
}